.card{
    width: 22rem;
    /* height: 15rem; */
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .imgcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 7.5rem;
    background-color: #f7b6c4 ;
  }
  .carddetails{
    height: max-content;
    padding: 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: left;
  }
  .imgcontainer img{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
  }
  .carddetails span{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .carddetails div{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 9px 0;
  }
  .carddetails div span{
    color: #676464;
    padding: 2px 5px;
    border-radius: 4px;
    background: #e4e4e4;
    cursor: pointer;
  }
  .carddetails span p:nth-of-type(1){
    font-size: 1.2rem;
    font-weight: bold;
    color: #403f3f;
}
.carddetails span p:nth-of-type(2){
    background-color: rgb(207 249 207);
    font-weight: 600;
    border-radius: 4px;
    padding: 2px 5px;
    color: #4e5252;
    cursor: pointer;
}
.carddetails p{
    color: var(--card_detail);
    font-size: 15px;
    letter-spacing: 1px;
}
.btnDiv button{
    cursor: pointer;
    color: black;
    background-color: #6c6d6f;
    padding: 4px 10px;
    border: none;
    border-radius: 7px;
    letter-spacing: 0.8px;
}
.btnDiv button:nth-of-type(1){
    background: #9af6ae;
}
.btnDiv button:nth-of-type(1):hover{
  color: white;
}

.btnDiv a:nth-of-type(2) button{
    background-color: rgb(255, 6, 6);
    color:white;
}

.btnDiv a:nth-of-type(2) button:hover{
  color:rgb(28, 27, 27);
}

.card:hover{
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


  