.container {
    /* position: relative; */
    width: 100%;
}

.pitch {
    width: 100%;
    background-color: #6E07F3;
    display: flex;
    justify-content: center;
    height: 90vh;
    /* position: relative; */

}

.pitchContainer {
    margin-top: 5rem;
    width: 60%;
    color: white;

}

.pitchContainer h1 {
    font-family: "eurostile", sans-serif;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.7rem;
}

.pitchContainer p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
    word-break: break-word;
    text-align: center;
}

.skillblock {
    width: 85%;
    display: flex;
    border-radius: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: #f7f7f7;
    border: 0.5px solid rgba(45, 46, 50, .2);
    margin-left: auto;
    margin-right: auto;
    margin-top: -10rem;
}

.skillblockDiv {
    color: #141c3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 33.33%;
    padding: 2.7rem 1rem;
    text-align: center;
    border-right: 0.5px solid rgba(45, 46, 50, .1);
}

.skillblockDiv ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 1rem;


}

.skillblockDiv img {
    width: 3rem;
    height: 3rem;

}

.skillblockDiv span {
    background-color: #31f7b9;
    padding: 10px;
    border-radius: 50%;
}

.skillblockDiv h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.skillblockDiv p:nth-of-type(1) {
    font-size: 17px;
    letter-spacing: 1.5px;
    line-height: 1.6rem;
    width: 85%;
    margin-bottom: 2.5rem;
}

.skillblockDiv p:nth-of-type(2) {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #6E07F3;
}

.skillblockDiv p:nth-of-type(3) {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 5rem;

}

.skillblockDiv p:nth-of-type(4) {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    color: #6E07F3;
}

.skillblock ul li {
    cursor: pointer;
}

.skillblock ul li:hover {
    color: #bd8aff;
}

@media only screen and (max-width: 767px) {

    .pitch {
        height: 100vh;
    }

    .pitchContainer {
        margin-top: 2rem;
        width: 90%;

    }

    .pitchContainer h1 {
        font-size: 1.3rem;
    }

    .pitchContainer p {
        font-size: 1rem;
        text-align: unset;
        line-height: 1.7rem
    }

    .skillblock {
        width: 90%;
        flex-direction: column;
        margin-top: -4rem;
    }

    .skillblockDiv {
        width: 100%;
        padding: 2rem 1.4rem;
        border-bottom: 0.5px solid rgba(45, 46, 50, .1);
    }

    .skillblockDiv p:nth-of-type(1) {
        width: 100%;
        font-size: 1rem;
    }

    .skillblockDiv p:nth-of-type(3) {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 320px) {
    .pitch{
     height: 125vh;
    }
}